<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
  </head>

  <body>
    <h1>About Story Prompter</h1>
    
    <p>At <a href="https://www.hackerleague.org/hackathons/story-hack-boston"> Story Hack Boston 2012</a>, we were faced with a Record button and nothing to talk about. Brian was inspired by his young daughter Zoe's persistent request for the same bedtime story. How about a tool for inspiring a new story that she would find interesting, and he could riff on spontaneously? That's how the Fable story type came to be.</p> 
    
    <p>Glenn and Erin offered ideas for more ways to inspire a story from grownups, in the manner of NPR's <a href="http://www.npr.org/series/4516989/storycorps">StoryCorps</a>. So we added Personal stories, and News to encourage commentary on current events. The "Madlibs" scheme for assembling prompts is extensible and we encourage suggestions for additions. You'll find the project at <a href="https://github.com/BDFife/StoryPrompter">GitHub</a>.</p>
    
    <p>We're not accumulating stories for a public page. Our thought is to give you a tool to use to capture your own family's voices to your personal SoundCloud account. StoryPrompter adds the tag "storyprompter" to your SoundCloud recordings, so if you allow them to be shared, they will appear in a list of stories that anyone can find here: <a href="http://soundcloud.com/search?q[fulltext]=storyprompter">StoryPrompter</a></p>
    
    <p>The SoundHack event was sponsored by <a href="http://SoundCloud.com"> SoundCloud</a> and <a href="http://www.mashery.com">The Mashery</a>, so we used the SoundCloud API to present the Record button and news stories from USA Today using a demo API account The Mashery provided for the event.</p>
    
    <p>Of course, after all that work, Zoe still wants to hear the same familiar story, but we know she'll grow out of it someday!</p>
    
    <br>
    
    <p>The genre images are: 
    <ul>
	<li><img src="{{url_for('static', filename='Fable.jpg')}}" 
            width=30 height=18 border="0">Fable
    <li><img src="{{url_for('static', filename='Personal.jpg')}}" 
            width=30 height=18 border="0">Personal
    <li><img src="{{url_for('static', filename='News.jpg')}}" 
            width=30 height=18 border="0">News
    <li><img src="{{url_for('static', filename='Random.jpg')}}" 
            width=30 height=18 border="0">Random selection from the other genres. 

	</ul>

    <br>
    {% block nav %}
    <li><a href="{{url_for('index')}}"><strong>Back</strong></a></li>
    {% endblock %}
  </body>
</html>