<!DOCTYPE html>
<html>
    <head>
        <title>StoryPrompter</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='examples.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
    
    <h2><font >Tell me a story. Pick one of the suggestions below to get started.
        <div id="nav">
        <br>
            <ul>
                <li><a href="{{url_for('show_story',type='Fable')}}">Fable</a></li>
                <li><a href="{{url_for('show_story',type='Personal')}}">Personal</a></li>
                <li><a href="{{url_for('show_story',type='News')}}">News</a></li>
                <li><a href="{{url_for('show_story',type='Random')}}">Random</a></li>
            </ul>
        </div></h2>
        
        
        <a href="{{url_for('about')}}"><strong>About StoryPrompter</a>
    </body>
</html>

