<!DOCTYPE html>
<html>
    <head>
        <title>StoryPrompter</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='examples.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
    </head>
    <body>
    
    <h2><font >Tell me a story. Click one of the pictures below to get started.
        <div id="tiles">
        <br>
        <a href="{{url_for('show_story',type='Fable')}}">
          <img src="{{url_for('static', filename='Fable.jpg')}}" 
            width=300 height=188 border="0" alt="Fable"></a>

        <a href="{{url_for('show_story',type='News')}}">
          <img src="{{url_for('static', filename='News.jpg')}}" 
            width=300 height=188 border="0" alt="News"></a>

        <a href="{{url_for('show_story',type='Personal')}}">
          <img src="{{url_for('static', filename='Personal.jpg')}}" 
            width=300 height=188 border="0" alt="Personal"></a>

        <a href="{{url_for('show_story',type='Random')}}">
          <img src="{{url_for('static', filename='Random.jpg')}}" 
            width=300 height=188 border="0" alt="Random"></a>
                  
        </div></h2>       
        
        <a href="{{url_for('about')}}"><strong>About StoryPrompter</a>
    </body>
</html>

